body{
  margin: 0;
  padding: 0;
  font-size: 16pt;
  font-family: 'Quicksand', sans-serif;
  background-image: url('../images/concrete_seamless.png');
  background-attachment: fixed;
}

header{
  background: #fff;
  border-bottom: 3px solid #AA381E;/*#e60000;*/
  background-image: url('../images/cloud4.png');
  background-attachment: fixed;
  background-size:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 50px;
}

.strong {
  font-size: 2em;
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}

h1{
  font-size: 2em;
  text-align: center;
  line-height: 2;

  animation-name: h1_grow;
  animation-duration: 15s;
  animation-iteration-count: initial;
}

@-webkit-keyframes h1_grow{
 0% {
    font-size: 150%;
    opacity: 0.5;
 }
 100% {
    font-size: 200%;
    opacity: 1;
 }
}

@keyframes h1_grow{
 0% {
    font-size: 150%;
    opacity: 0.5;
 }
 100% {
    font-size: 200%;
    opacity: 1;
 }
}

.nav_links {
  display: flex;
  flex-direction: column;
}

.nav_item {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_item a {
  max-width: 95%;
  color: black;
  text-decoration: none;
}

.nav {
  min-width: 70%;
}

.bold {
  font-weight: bold;
  background-color:#AA381E;
}

.bold a {
  color: rgba(255, 255, 255);
}

.nav_item a:hover, a:focus{
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  place-items: center center;
  row-gap: 30px;
  -webkit-row-gap: 30px;
}

.tofu, .slice, .hotpot, .shuangcui, .candied,
.sour, .siu, .yuntun, .cookies {
  grid-column: 2/span 2;
  margin-bottom: 50px;
}

.tofu-image, .slice-image, .hotpot-image, .shuangcui-image,
.candied-image, .sour-image, .siu-image, .yuntun-image, .cookies-image {
  grid-column: 1/-1;
  max-width: 100%;
  overflow: hidden;
}

.gallery{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery > * {
  max-height: 100px;
  margin: 0;
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 100px;
  border: 1px solid white;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back p {
  position: relative;
  top: 35%;
}

img {
  max-width: 100%;
}

.text{
  background-color: rgba(255, 255, 255, .5);
  border: 10px solid black;
  padding: 30px;
  /*Your code here:*/
  text-align: center;
  align-self: center;
}

.para{
  grid-column: 2/span 2;
  background-color: rgba(255, 255, 255, .5);
  /* border: 10px solid black; */
  padding: 10px;
  /* text-align: center; */
  align-self: center;
}

.para2 {
  grid-column: 2/span 2;
  background-color: transparent;
  grid-row: 1;
}

footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
  margin-top: 20px;
}

.name{
  grid-row: 1;
}

.email{
  grid-row: 2;
}

.message{
  grid-row: 3;
}

.submit{
  grid-row: 4;
}

.name, .email, .message, .submit {
  align-self: left;
  grid-column: 2/-2;
}

.name, .email, .message {
  width: 100%;
  max-width: 800px;
}

input{
  width: 100%;
  min-height: 30px;
}

textarea { 
  width: 100%;
  min-height: 100px;
}

@media all and (prefers-reduced-motion: reduce) {
  body {
    background-attachment: scroll;
  }
  header {
    background-attachment: scroll;
  }
  h1 {
    animation: none;
  }
}

@media all and (min-width: 1000px){
  .nav_links{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .nav_item {
    width: 25%;
  }

  .nav {
    width: 92%;
  }

  .container{
    display: grid;
    grid-template-columns: 2fr 14fr 1fr 6fr 1fr 14fr 2fr;
    place-items: center center;
    align-items: center;
    /* grid-template-rows: auto auto auto auto; */
  }

  .text {
    min-height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text>h2 {
    margin-bottom: 10px;
  }

  .slice, .hotpot, .shuangcui, .candied,
  .yuntun, .cookies {
    grid-column: 2/3;
  }

  .tofu, .sour, .siu {
    grid-column: -3/-2;
  }

  .para {
    grid-column: 2/-2;
    max-width: 800px;
  }

  .para2 {
    grid-column: 2/-2;
    background-color: transparent;
    text-align: justify;
    grid-row: 1;
    max-width: 1000px;
  }

  .tofu-image, .slice-image, .hotpot-image, .shuangcui-image,
  .candied-image, .sour-image, .siu-image, .yuntun-image, .cookies-image {
    width: 100%;
    margin-bottom: 0;
  }
  
  .slice-image, .hotpot-image, .shuangcui-image,
  .candied-image, .yuntun-image, .cookies-image {
    grid-column: 4/-2;
  }

  .tofu-image, .sour-image, .siu-image {
    grid-column: 2/-4;
  }

  .hotpot, .hotpot-image, .cookies, .cookies-image, .candied, .candied-image {
    grid-row: 2/3;
  }

  .tofu, .tofu-image, .siu, .siu-image, .sour, .sour-image {
    grid-row: 3/4;
  }

  .slice, .slice-image, .yuntun, .yuntun-image, .shuangcui-image, .shuangcui {
    grid-row: 4/5;
  }

}